<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/lotus-spring</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <!--<property name="hbm2ddl.auto">create</property>-->

        <mapping class="com.isep.lotus.models.ActiviteExtra" />
        <mapping class="com.isep.lotus.models.ActivitePro" />
        <mapping class="com.isep.lotus.models.Bulletin" />
        <mapping class="com.isep.lotus.models.Cours" />
        <mapping class="com.isep.lotus.models.Cv" />
        <mapping class="com.isep.lotus.models.Eleve" />
        <mapping class="com.isep.lotus.models.Image" />
        <mapping class="com.isep.lotus.models.LettreMotivation" />
        <mapping class="com.isep.lotus.models.LettreRecommandation" />
        <mapping class="com.isep.lotus.models.Message" />
        <mapping class="com.isep.lotus.models.Parcours" />
        <mapping class="com.isep.lotus.models.Professeur" />
        <mapping class="com.isep.lotus.models.SejourAcademique" />
        <mapping class="com.isep.lotus.models.TypeContrat" />
    </session-factory>
</hibernate-configuration>