
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
</head>
<body>
<nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 barreR">
                <form class="navbar-form inline-form form-group">
                    <div class="btn loupe"> <img th:src="@{/elements/icons/loupe25.png}" /></div>
                    <input type="search" class="taper" placeholder="Elève, numéro étudiant..."/>

                    <ul class="nav navbar-nav pull-right  filtre ">

                        <li> <a href="#">Promotion</a> </li>

                        <li> <a href="#">Année</a> </li>

                        <li> <a href="#">Parcours</a> </li>

                        <li> <a href="#">Activité</a> </li>

                    </ul>




                </form>

            </div>
        </div>

    </div>


</nav>

</body>
</html>