@media (min-width: 868px) {
    .container {
        width: 850px;
    }
}
@media (min-width: 1192px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 1300px) {
    .container {
        width: 1270px;
    }
}
.change_margin_botom{
    margin-bottom: -8px;
}

.change_margin_botom2{
    margin-bottom: -20px;
}
.prenom{
    font-size:  10px;
    height: auto;

}
.nom{
    font-size:  10px;
    height: 26px;

}
image_eleve{
    width: 50px;
    height: auto;


}
.fond{
    border: 1px solid #F3F3F3;
    border-radius: 6px;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-right:20px ;
    padding-left: 20px;
    padding-top: 20px;

}
.titreCO{
    text-align: center;
}
.PROFIL{
    font-size:  30px;
}
.text_promo{
    font-size:  20px;
}

.Information{
    font-size:  20px;
}

.fond2{
 background-color: WHITE;
   /* margin-left:30px;*/

}


.fond3{
    margin-left: 30px;
    margin-bottom: 20px;
}

.hello2{
 /*margin-left: 50px;*/

}

.profil{
/*margin-bottom: 30px;*/
}

.espace{
    margin-bottom: 50px;
}

.stage{
    margin-bottom: 10px;
}

.groupe{
    margin-left:10px;
}

.cadrebleu{
    padding-bottom: 50px;
}

.barreR{
    border: 1px solid #F3F3F3;
    /*line-height: 20%;*/
    border-width: 3px;
    margin-top: -25px;
    height: 50px;
    background-color: white;
   /* margin-left: 15%;*/
}

.filtre2{
    margin-top: -45px;
    display: flex;
    height: 40px;
    margin-right: 2%;

}



select{
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    float:left;
    width:80px;
    text-align: center;

}

select:hover {
    background-color:#DDDDDD;
    text-decoration:none;
}

.loupe{
    margin-top: -5px;
    margin-left: -30px;
}

.taper{
    border: 0px solid red;
    height: 40px;
    width: 50%;
    margin-top: -25px;
}



.bloc_gris{
    border: 1px solid #F3F3F3;
    border-radius: 6px;
    line-height: 40px;

    margin-top: 20px;
    margin-bottom: 20px;

    padding-bottom:20px;
    padding-right:20px ;
    padding-left: 20px;
    padding-top: 20px;

}

.bloc_blanc{
    border: 1px solid #F3F3F3;
    border-radius: 6px;
    line-height: 40px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-right:20px ;
    padding-left: 20px;
    padding-top: 20px;


}

.decallage{
    margin-left: -30px;
}

.bloc_blanc_eleve{
    border: 1px solid #F3F3F3;
    border-radius: 6px;
    line-height: 40px;
    margin-left:10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-right:20px ;
    padding-left: 20px;
    padding-top: 0px;



}

.bloc_dans_blanc {

    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.filtre{
    margin-top: -10px;
}

.loupe{
    margin-top: -5px;
    margin-left: -25px;
}

.taper{
    border: 0px solid red;
    height: 40px;
    width: 50%;
    margin-top: -25px;
}

.margeboutonacc{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;

}

.tailleboutonaccp{

    height: 500px;

}

.taillepetitboutonaccp{

    height: 200px;

}

.gras{
    font-weight: bold;
}

.text-acc
{
    font-size: 20px;
}

.tailleboutonacce{

    height: 300px;

}


.reini{
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    /*margin-top: 45px;*/

}


/*.deplacer{
    margin-top: 45px;
}*/
