@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.fond{
    border: 1px solid #F3F3F3;
    border-radius: 6px;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-right:20px ;
    padding-left: 20px;
    padding-top: 20px;

}
.titreCO{
    text-align: center;
}