@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.fond{
    border: 1px solid #F3F3F3;
    border-radius: 6px;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-right:20px ;
    padding-left: 20px;
    padding-top: 20px;
}

.titreCO{
    text-align: center;
}

.PROFIL{
    font-size:  30px;
}

.fond2{
    background-color: white;
    margin-left: 15%;
}

.filtre{
    margin-top: -10px;
}

.loupe{
    margin-top: -5px;
    margin-left: -25px;
}

.taper{
    border: 0px solid red;
    height: 40px;
    width: 50%;
    margin-top: -25px;
}

.search-facets .facet-item .facet-value label {
    display: block;
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 8px 12px 8px 36px;
    font-size: 14px;
    font-weight: 400;
    color: #87888D;
    white-space: nowrap;
}

.margeboutonacc{
    margin-top: 40px;
    margin-bottom: 40px;
}

.tailleboutonaccp{
    width: 650px;
    height: 650px
}

.taillepetitboutonaccp{
    width: 650px;
    height: 285px
}

.gras{
    font-weight: bold;
}

.text-acc
{
    font-size: 30px;
}
