<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accueil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>

</head>
<body>

    <div th:if="${session.type == 'eleve' || session.type == 'professeur'}">
        <header th:replace="incluable/header/headerconnecte :: header" />
        <nav th:replace="incluable/menu/menuconnecte :: nav" />
        <nav th:replace="incluable/barre-recherche :: nav" />


        <div th:if="${session.type == 'professeur'}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="/profile"><button  class="btn btn-default bg-grey margeboutonacc tailleboutonaccp btn-block text-blue gras text-acc" > Accès à votre profil <br/><img th:src="@{/elements/icons/avatar-orange.png}"/></button></a>
                    </div>
                    <div class="col-lg-4">
                        <a href="/messaging"><button class="btn btn-default bg-grey margeboutonacc tailleboutonaccp btn-block text-blue gras text-acc" > Accès à votre messagerie  <br/><img th:src="@{/elements/icons/envelope-orange.png}"/></button></a>
                    </div>
                    <div class="col-lg-4">
                        <a th:href="${hrefCurrent}"><button class="btn btn-default bg-grey margeboutonacc taillepetitboutonaccp btn-block text-blue gras text-acc" > Elèves de votre parcours <br/><img th:src="@{/elements/icons/user-groupe-orange.png}"/></button></a>
                        <a th:href="${hrefOld}"><button class="btn btn-default bg-grey margeboutonacc taillepetitboutonaccp btn-block text-blue gras text-acc" > Anciens élèves de votre parcours <br/><img th:src="@{/elements/icons/graduate-orange.png}"/></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${session.type == 'eleve'}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="/profile"><button  class="btn btn-default bg-grey margeboutonacc tailleboutonacce btn-block text-blue gras text-acc" > Accès à votre profil <br/><img th:src="@{/elements/icons/avatar-orange.png}"/> </button></a>
                    </div>
                    <div class="col-lg-6">
                        <a href="/messaging"><button class="btn btn-default bg-grey margeboutonacc tailleboutonacce btn-block text-blue gras text-acc" > Accès à votre messagerie  <br/><img th:src="@{/elements/icons/envelope-orange.png}"/></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div th:if="${session.type == 'none'}">
        <header th:replace="incluable/header/headerconnecte :: header" />
        <nav th:replace="incluable/menu/menunonconnecte :: nav" />

        <div class="container">
            <div class="row col-lg-12 ">
                <div class="">
                    <button  class=" col-lg-push-1 col-lg-10 btn btn-default bg-grey   tailleboutonacce margeboutonacc text-blue gras text-acc" >
                        <div class="col-lg-12">
                            <p> <h3>Votre compte n'est pas encore activé. Veuillez contacter un administrateur </h3></p>
                        </div>
                    </button>
                </div>
            </div>
        </div>

    </div>


    <footer th:replace="incluable/footer :: footer" />

</body>
</html>