<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accueil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/header.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>

</head>
<body>

    <div th:if="${session.type == 'eleve' || session.type == 'professeur'}">
        <header th:replace="incluable/header/headerconnecte :: header" />
        <nav th:replace="incluable/menu/menuconnecte :: nav" />
        <nav th:replace="incluable/barre_recherche :: nav" />


        <div th:if="${session.type == 'professeur'}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="/profile"><button  class="btn btn-default bg-grey margeboutonacc tailleboutonaccp text-blue gras text-acc" > Accès a votre profil <br/><img th:src="@{/elements/icons/avatar-orange.png}"/></button></a>
                    </div>
                    <div class="col-lg-4">
                        <a href="/messaging"><button class="btn btn-default bg-grey margeboutonacc tailleboutonaccp text-blue gras text-acc" > Accès a votre messagerie  <br/><img th:src="@{/elements/icons/envelope-orange.png}"/></button></a>
                    </div>
                    <div class="col-lg-4">
                        <a href="/search"><button class="btn btn-default bg-grey margeboutonacc taillepetitboutonaccp text-blue gras text-acc" > Elèves de votre parcours <br/><img th:src="@{/elements/icons/user-groupe-orange.png}"/></button></a>
                        <a href="/search"><button class="btn btn-default bg-grey margeboutonacc taillepetitboutonaccp text-blue gras text-acc" > Anciens élèves de votre parcours <br/><img th:src="@{/elements/icons/graduate-orange.png}"/></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${session.type == 'eleve'}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="/profile"><button  class="btn btn-default bg-grey margeboutonacc tailleboutonacce text-blue gras text-acc" > Accès a votre profil <br/><img th:src="@{/elements/icons/avatar-orange.png}"/> </button></a>
                    </div>
                    <div class="col-lg-6">
                        <a href="/messaging"><button class="btn btn-default bg-grey margeboutonacc tailleboutonacce text-blue gras text-acc" > Accès a votre messagerie  <br/><img th:src="@{/elements/icons/envelope-orange.png}"/></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div th:if="${session.type == 'none'}">
        <header th:replace="incluable/header/headerconnecte :: header" />
        <nav th:replace="incluable/menu/menunonconnecte :: nav" />

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <button  class="btn btn-default bg-grey margeboutonacc tailleboutonacce text-blue gras text-acc" ><h2>Votre compte n'est pas encore activé. Veuillez contacter un administrateur.</h2></button>
                </div>
            </div>
        </div>

    </div>


    <footer th:replace="incluable/footer :: footer" />

</body>
</html>