<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un cours</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/header.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>
</head>
<body>

<div th:if="${session.type == 'professeur' || session.type == 'eleve'}">
    <header th:replace="incluable/header/headerconnecte :: header" />
    <nav th:replace="incluable/menu/menuconnecte :: nav" />
    <nav th:replace="incluable/barre_recherche :: nav" />

    <div th:if="${session.type == 'professeur'}">
        <div th:if="${session.type == 'professeur'}">
            <div class="container-fluide">
                <div class="row">
                    <div class=" col-lg-12  bg-lightgrey bloc_gris">
                        <form class="form-horizontal" method="post" action="/profile/edit/courses/add">

                            <div th:if="${erreur}" th:text="${erreur}" class="alert-danger" align="center">Erreur</div>

                            <div class="row">
                                <div class="col-lg-5 text-blue"><h3>Ajouter un cours</h3></div>
                            </div>
                            <div class="row">
                                <div class=" col-lg-5 fond2 bloc_blanc">
                                    <div class="row form-group" >
                                        <div class="col-lg-5  text-blue">Saisie du cours à ajouter</div>
                                    </div>

                                    <div class="row form-group zoneJS" >
                                        <div class="bloc_dans_blanc">

                                            <div class="row form-group">
                                                <label for="cours" class=" col-lg-5  entreeCO text-orange">Cours</label>
                                                <div class=" col-lg-7">
                                                    <select name="cours" id="cours" >
                                                        <option selected="" value="unselected">-- Choisir un cours --</option>
                                                        <option th:each="cours : ${listCours}" th:value="${cours.id}" th:text="${cours.nom}">Option</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <input type="submit" name="submit" value="Confirmer" class="btn btn-default bg-orange pull-right" />
                        </form>
                        <a href="/profile/edit"><button class="btn btn-default bg-orange pull-right">Annuler</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${session.type == 'eleve'}">

    </div>

</div>

<footer th:replace="incluable/footer :: footer" />



</body>
</html>