<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter une activité extra-scolaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/header.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>
</head>
<body>

<div th:if="${session.type == 'professeur' || session.type == 'eleve'}">
    <header th:replace="incluable/header/headerconnecte :: header" />
    <nav th:replace="incluable/menu/menuconnecte :: nav" />
    <nav th:replace="incluable/barre-recherche :: nav" />

    <div class="container">
        <div class="row">
            <div class=" col-lg-12  bg-lightgrey bloc_gris">
                <form class="form-horizontal" method="post" action="/profile/edit/extra-activity/add">

                    <div th:if="${erreur}" th:text="${erreur}" class="alert-danger" align="center">Erreur</div>

                    <div class="row">
                        <div class="col-lg-12 text-blue"><h3>Ajouter une activité extra-scolaire</h3></div>
                    </div>
                    <div class="row">
                        <div class=" col-lg-12 fond2 bloc_blanc">
                            <div class="row form-group" >
                                <div class="col-lg-12  text-blue">Saisie de l'activité extra-scolaire à ajouter</div>
                            </div>

                            <div class="row form-group zoneJS" >
                                <div class="bloc_dans_blanc">

                                    <div class="row form-group">
                                        <label for="activiteExtra" class=" col-lg-3  entreeCO text-orange">Activité extra-scolaire<span class="text-red">*</span></label>
                                        <div class=" col-lg-9">
                                            <input type="text" id="activiteExtra" name="activiteExtra" class="form-control" placeholder="Activité extra-scolaire"/>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <input type="submit" name="submit" value="Ajouter" class="btn btn-default bg-orange pull-right" />
                </form>
                <a href="/profile/edit"><button class="btn btn-default bg-orange pull-right">Annuler</button></a>
            </div>
        </div>
    </div>

</div>

<footer th:replace="incluable/footer :: footer" />



</body>
</html>