<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter un séjour académique à l'étranger</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/header.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>
</head>
<body>

<div th:if="${session.type == 'professeur' || session.type == 'eleve'}">
    <header th:replace="incluable/header/headerconnecte :: header" />
    <nav th:replace="incluable/menu/menuconnecte :: nav" />
    <nav th:replace="incluable/barre-recherche :: nav" />

    <div class="container">
        <div class="row">
            <div class=" col-lg-12  bg-lightgrey bloc_gris">
                <form class="form-horizontal" method="post" action="/profile/edit/exchange-trip/add">

                    <div th:if="${erreur}" th:text="${erreur}" class="alert-danger" align="center">Erreur</div>

                    <div class="row">
                        <div class="col-lg-12 text-blue"><h3>Ajouter un séjour académique à l'étranger</h3></div>
                    </div>
                    <div class="row">
                        <div class=" col-lg-12 fond2 bloc_blanc">
                            <div class="row form-group" >
                                <div class="col-lg-12  text-blue">Saisie des informations du séjour à ajouter</div>
                            </div>

                            <div class="row form-group zoneJS" >
                                <div class="bloc_dans_blanc">
                                    <div class="row form-group">
                                        <label for="pays" class=" col-lg-3  entreeCO text-orange">Pays<span class="text-red">*</span></label>
                                        <div class=" col-lg-9">
                                            <input type="text" id="pays" name="pays" class="form-control" placeholder="Pays"/>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="ville" class=" col-lg-3  entreeCO text-orange">Ville<span class="text-red">*</span></label>
                                        <div class=" col-lg-9">
                                            <input type="text" id="ville" name="ville" class="form-control" placeholder="Ville"/>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="etablissement" class=" col-lg-3  entreeCO text-orange">Etablissement<span class="text-red">*</span></label>
                                        <div class=" col-lg-9">
                                            <input type="text" id="etablissement" name="etablissement" class="form-control" placeholder="Etablissement"/>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="anneeScolaire" class=" col-lg-3  entreeCO text-orange">Année scolaire<span class="text-red">*</span></label>
                                        <div class=" col-lg-9">
                                            <select class="form-control" name="anneeScolaire" id="anneeScolaire" >
                                                <option selected="" value="unselected">-- Choisir une année scolaire --</option>
                                                <option th:each="anneeScolaire : ${listAnneeScolaire}" th:value="${anneeScolaire.nom}" th:text="${anneeScolaire.nom}">Option</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="semestre" class=" col-lg-3  entreeCO text-orange">Semestre</label>
                                        <div class=" col-lg-9">
                                            <input type="text" id="semestre" name="semestre" class="form-control" placeholder="Semestre"/>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="duree" class=" col-lg-3  entreeCO text-orange">Durée (en mois)</label>
                                        <div class=" col-lg-9">
                                            <input type="number" id="duree" name="duree" class="form-control" placeholder="Durée (en mois)" min="0"/>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>
                    </div>
                    <input type="submit" name="submit" value="Ajouter" class="btn btn-default bg-orange pull-right" />
                </form>
                <a href="/profile/edit"><button class="btn btn-default bg-orange pull-right">Annuler</button></a>
            </div>
        </div>
    </div>

</div>

<footer th:replace="incluable/footer :: footer" />



</body>
</html>