<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modification du profil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>
</head>
<body>

<div th:if="${session.type == 'professeur' || session.type == 'eleve'}">
    <header th:replace="incluable/header/headerconnecte :: header" />
    <nav th:replace="incluable/menu/menuconnecte :: nav" />
    <nav th:replace="incluable/barre_recherche :: nav" />

    <div class="container">
        <div class="row">
            <div class=" col-lg-12  bg-lightgrey bloc_gris">

                <div th:if="${erreur}" th:text="${erreur}" class="alert-danger" align="center">Erreur</div>
                <div th:if="${message}" th:text="${message}" class="alert-success" align="center">Message</div>

                <div class="row ">
                    <div class="col-lg-12 text-blue"><h3>Modification du profil</h3></div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6 fond2 bloc_blanc">
                        <form class="form-horizontal" method="post" action="/profile/edit/personal-info">
                            <div class="form-group" >
                                <div class="col-md-6  text-blue">Informations personnelles</div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-5 bloc_dans_blanc ">
                                    <div class="row form-group">
                                        <div align="center"><img th:src="@{/elements/icons/profilVide.png}"/></div>
                                    </div>

                                    <div class="row form-group">
                                        <div align="center">
                                            <input type="file" name="photo" disabled=""/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-7 bloc_dans_blanc">
                                    <div class="row form-group">
                                        <label for="prenom" class=" col-lg-4  entreeCO text-orange">Prénom<span class="text-red">*</span></label>
                                        <div class=" col-lg-8">
                                            <input th:if="${utilisateur.prenom}" type="text" id="prenom" name="prenom" class="form-control" th:value="${utilisateur.prenom}" placeholder="Prénom"/>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="nom" class=" col-lg-4  text-orange entreeCO">Nom<span class="text-red">*</span></label>
                                        <div class=" col-lg-8">
                                            <input type="text" id="nom" name="nom" class=" form-control" th:value="${utilisateur.nom}" placeholder="Nom" />
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="email" class=" col-lg-4  entreeCO text-orange">Email <span class="text-red">*</span></label>
                                        <div class=" col-lg-8">
                                            <input type="email" id="email" name="email" class="form-control" th:value="${utilisateur.email}" placeholder="Email"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" name="submit" value="Confirmer les modifications" class="btn btn-default bg-orange pull-right" />
                        </form>
                        <a href="/profile/edit"><button class="btn btn-default bg-orange pull-right">Annuler</button></a>
                    </div>

                    <div class="form-group col-md-6 fond2  bloc_blanc ">
                        <form class="form-horizontal" method="post" action="/profile/edit/connection-info">
                            <div class="form-group" >
                                <div class="col-md-6 text-blue">Informations de connexion</div>
                            </div>

                            <div class="row form-group" >
                                <div class="bloc_dans_blanc">

                                    <div class="row form-group">
                                        <label for="identifiant" class=" col-lg-5  entreeCO text-orange">Identifiant<span class="text-red">*</span></label>
                                        <div class=" col-lg-7">
                                            <input type="text" id="identifiant" name="identifiant" class="form-control" th:value="${utilisateur.identifiant}" placeholder="Identifiant de connexion"/>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="mdp" class=" col-lg-5  entreeCO text-orange">Mot de passe</label>
                                        <div class=" col-lg-7">
                                            <input type="password" id="mdp" name="mdp" class="form-control" placeholder="Mot de passe"/>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="conf-mdp" class=" col-lg-5 text-orange entreeCO">Confirmer le mot de passe</label>
                                        <div class=" col-lg-7">
                                            <input type="password" id="conf-mdp" name="conf-mdp" class="form-control"  placeholder="Confirmation du mot de passe"/>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <input type="submit" name="submit" value="Confirmer les modifications" class="btn btn-default bg-orange pull-right" />
                        </form>
                        <a href="/profile/edit"><button class="btn btn-default bg-orange pull-right">Annuler</button></a>
                    </div>
                </div>


                <div class="row" th:if="${session.type == 'eleve'}">
                    <div class="form-group col-md-6 fond2 bloc_blanc">
                        <form class="form-horizontal" method="post" action="/profile/edit/school-info">
                            <div class=" form-group" >
                                <div class="col-md-6  text-blue">Informations scolaires</div>
                            </div>

                            <div class="row form-group">
                                <div class=" bloc_dans_blanc">
                                    <div class="row form-group">
                                        <label for="numeroEtudiant" class=" col-lg-5  entreeCO text-orange">Numéro étudiant<span class="text-red">*</span></label>
                                        <div class=" col-lg-7">
                                            <input type="number" id="numeroEtudiant" name="numeroEtudiant" class="form-control" th:value="${utilisateur.eleve.numeroEtudiant}" placeholder="Numéro étudiant" min="0"/>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="anneeScolaire" class=" col-lg-5  entreeCO text-orange">Année scolaire<span class="text-red">*</span></label>
                                        <div class=" col-lg-7">
                                            <select class="form-control" name="anneeScolaire" id="anneeScolaire" >
                                                <option disabled="" value="unselected">-- Choisir une année scolaire --</option>
                                                <div th:each="annee : ${listAnneeScolaire}">
                                                    <option th:if="${utilisateur.eleve.anneeScolaire} == ${annee.nom}" th:value="${annee.nom}" th:text="${annee.nom}" selected="">Option</option>
                                                    <option th:if="${utilisateur.eleve.anneeScolaire} != ${annee.nom}" th:value="${annee.nom}" th:text="${annee.nom}">Option</option>
                                                </div>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="promotion" class=" col-lg-5  entreeCO text-orange">Promotion<span class="text-red">*</span></label>
                                        <div class=" col-lg-7">
                                            <input type="text" id="promotion" name="promotion" class="form-control" th:value="${utilisateur.eleve.promotion}" placeholder="Promotion"/>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="activite" class=" col-lg-5  entreeCO text-orange">Activité<span class="text-red">*</span></label>
                                        <div class=" col-lg-7">
                                            <select class="form-control" name="activite" id="activite" >
                                                <option disabled="" value="unselected">-- Choisir une activité --</option>
                                                <div th:each="activite : ${listActivite}">
                                                    <option th:if="${utilisateur.eleve.activite} == ${activite.nom}" th:value="${activite.nom}" th:text="${activite.nom}" selected="">Option</option>
                                                    <option th:if="${utilisateur.eleve.activite} != ${activite.nom}" th:value="${activite.nom}" th:text="${activite.nom}">Option</option>
                                                </div>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" name="submit" value="Confirmer les modifications" class="btn btn-default bg-orange pull-right" />
                        </form>
                        <a href="/profile/edit"><button class="btn btn-default bg-orange pull-right">Annuler</button></a>
                    </div>

                    <div class=" form-group col-md-6 fond2 bloc_blanc">
                        <form class="form-horizontal" method="post" action="/profile/edit/additional-info">
                            <div class=" form-group" >
                                <div class="col-md-6  text-blue">Informations additionnelles</div>
                            </div>

                            <div class="row form-group">
                                <div class="bloc_dans_blanc">
                                    <div class="row form-group">
                                        <label class=" col-lg-5  entreeCO text-orange">Contact</label>
                                        <div class="col-lg-7">
                                            <input th:if="${utilisateur.eleve.contact == false}" checked="" type="checkbox" id="contact" name="contact" />
                                            <input th:if="${utilisateur.eleve.contact == true || utilisateur.eleve.contact == null}" type="checkbox" id="contact" name="contact" />
                                            <span for="contact" class="entreeCO text-black">Je ne souhaite pas être contacté</span>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label for="linkedin" class=" col-lg-5  entreeCO text-orange">LinkedIn</label>
                                        <div class=" col-lg-7">
                                            <input type="url" id="linkedin" name="linkedin" class="form-control" th:value="${utilisateur.eleve.linkedin}" placeholder="Lien compte LinkedIn"/>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <input type="submit" name="submit" value="Confirmer les modifications" class="btn btn-default bg-orange pull-right" />
                        </form>
                        <a href="/profile/edit"><button class="btn btn-default bg-orange pull-right">Annuler</button></a>
                    </div>

                </div>


                <div class="row">
                    <div class=" col-lg-6 fond2 bloc_blanc">
                        <div class="row form-group" >
                            <div class="col-lg-6  text-blue">Parcours</div>
                        </div>

                        <div class="row form-group" >
                            <div class="bloc_dans_blanc">

                                <div th:each="parcoursUtilisateur,counter : ${listParcoursUtilisateur}" class="row form-group">
                                    <label th:for="'parcours' + ${parcoursUtilisateur.id}" class=" col-lg-5  entreeCO text-orange">Parcours <span th:text="${counter.index + 1}">Compteur</span></label>
                                    <div class=" col-lg-6">
                                        <select class="form-control" name="parcours" th:id="'parcours' + ${parcoursUtilisateur.id}">
                                            <option disabled="">-- Choisir un parcours --</option>
                                                <div th:each="parcours : ${listParcours}">
                                                    <option th:if="${parcoursUtilisateur.nom} == ${parcours.nom}" th:value="${parcours.nom}" th:text="${parcours.nom}" selected="">Option</option>
                                                    <option th:if="${parcoursUtilisateur.nom} != ${parcours.nom}" th:value="${parcours.nom}" th:text="${parcours.nom}">Option</option>
                                                </div>
                                        </select>
                                    </div>
                                    <div class="col-lg-1">
                                            <a th:href="'/profile/edit/specialty/delete/' + ${parcoursUtilisateur.id}"><img th:src="@{/elements/icons/trash1.png}"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="/profile/edit/specialty/add"><button class="btn btn-default bg-orange pull-right">Ajouter un parcours</button></a>
                    </div>


                    <div class=" col-lg-6 fond2 bloc_blanc">
                        <div class="row form-group" >
                            <div th:if="${session.type == 'professeur'}" class="col-lg-5  text-blue">Cours enseigné(s)</div>
                            <div th:if="${session.type == 'eleve'}" class="col-lg-5  text-blue">Cours suivi(s)</div>
                        </div>

                        <div class="row form-group" >
                            <div class="bloc_dans_blanc">

                                <div th:each="coursUtilisateur,counter : ${listCoursUtilisateur}" class="row form-group">
                                    <label th:for="'cours' + ${coursUtilisateur.id}" class=" col-lg-5  entreeCO text-orange">Cours <span th:text="${counter.index + 1}">Compteur</span></label>
                                    <div class=" col-lg-6">
                                        <select class="form-control" name="cours" th:id="'cours' + ${coursUtilisateur.id}">
                                            <option disabled="">-- Choisir un cours --</option>
                                                <div th:each="cours : ${listCours}">
                                                    <option th:if="${coursUtilisateur.nom} == ${cours.nom}" th:value="${cours.nom}" th:text="${cours.nom}" selected="">Option</option>
                                                    <option th:if="${coursUtilisateur.nom} != ${cours.nom}" th:value="${cours.nom}" th:text="${cours.nom}">Option</option>
                                                </div>
                                        </select>
                                    </div>
                                    <div class="col-lg-1">
                                        <a th:href="'/profile/edit/courses/delete/' + ${coursUtilisateur.id}"><img th:src="@{/elements/icons/trash1.png}"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="/profile/edit/courses/add"><button class="btn btn-default bg-orange pull-right">Ajouter un cours</button></a>
                    </div>
                </div>

                <div class="row" th:if="${session.type == 'eleve'}" >
                    <div class=" col-lg-6 fond2 bloc_blanc">
                        <div class="row form-group" >
                            <div class="col-lg-6  text-blue">Activité(s) professionnelle(s)</div>
                        </div>

                        <div class="row form-group" >
                            <div class="bloc_dans_blanc">

                                <div th:each="activitePro,counter : ${listActivitePro}" class="row form-group">
                                    <label th:for="'activitePro' + ${activitePro.id}" class=" col-lg-5  entreeCO text-orange">Activité professionnelle <span th:text="${counter.index + 1}">Compteur</span></label>
                                    <a th:href="'/profile/edit/professional-activity/delete/' + ${activitePro.id}"><img th:src="@{/elements/icons/trash1.png}"/></a>

                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th th:if="${activitePro.poste}">Poste</th>
                                                <th th:if="${activitePro.nomEntreprise}">Entreprise</th>
                                                <th th:if="${activitePro.typeContrat}">Type de contrat</th>
                                                <th th:if="${activitePro.duree}">Durée</th>
                                                <th th:if="${activitePro.pays}">Pays</th>
                                                <th th:if="${activitePro.ville}">Ville</th>
                                                <th th:if="${activitePro.description}">Description</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td th:if="${activitePro.poste}" th:text="${activitePro.poste}">Poste</td>
                                                <td th:if="${activitePro.nomEntreprise}" th:text="${activitePro.nomEntreprise}">Entreprise</td>
                                                <td th:if="${activitePro.typeContrat}" th:text="${activitePro.typeContrat}">Type de contrat</td>
                                                <td th:if="${activitePro.duree}" th:text="${activitePro.duree}">Durée</td>
                                                <td th:if="${activitePro.pays}" th:text="${activitePro.pays}">Pays</td>
                                                <td th:if="${activitePro.ville}" th:text="${activitePro.ville}">Ville</td>
                                                <td th:if="${activitePro.description}" th:text="${activitePro.description}">Description</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                        <a href="/profile/edit/professional-activity/add"><button class="btn btn-default bg-orange pull-right">Ajouter une activité professionnelle</button></a>
                    </div>

                    <div class=" col-lg-6 fond2 bloc_blanc">
                        <div class="row form-group" >
                            <div class="col-lg-6  text-blue">Séjour(s) académique(s) à l'étranger</div>
                        </div>

                        <div class="row form-group" >
                            <div class="bloc_dans_blanc">

                                <div th:each="sejourAca,counter : ${listSejourAca}" class="row form-group">
                                    <label th:for="'sejourAca' + ${sejourAca.id}" class=" col-lg-5  entreeCO text-orange">Séjour académique <span th:text="${counter.index + 1}">Compteur</span></label>
                                    <a th:href="'/profile/edit/exchange-trip/delete/' + ${sejourAca.id}"><img th:src="@{/elements/icons/trash1.png}"/></a>

                                    <table class="table table-bordered table-striped table-condensed">
                                        <thead>
                                        <tr>
                                            <th th:if="${sejourAca.pays}">Pays</th>
                                            <th th:if="${sejourAca.ville}">Ville</th>
                                            <th th:if="${sejourAca.etablissement}">Etablissement</th>
                                            <th th:if="${sejourAca.anneeScolaire}">Année scolaire</th>
                                            <th th:if="${sejourAca.semestre}">Semestre</th>
                                            <th th:if="${sejourAca.duree}">Durée</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr>
                                            <td th:if="${sejourAca.pays}" th:text="${sejourAca.pays}">Pays</td>
                                            <td th:if="${sejourAca.ville}" th:text="${sejourAca.ville}">Ville</td>
                                            <td th:if="${sejourAca.etablissement}" th:text="${sejourAca.etablissement}">Etablissement</td>
                                            <td th:if="${sejourAca.anneeScolaire}" th:text="${sejourAca.anneeScolaire}">Année scolaire</td>
                                            <td th:if="${sejourAca.semestre}" th:text="${sejourAca.semestre}">Semestre</td>
                                            <td th:if="${sejourAca.duree}" th:text="${sejourAca.duree}">Durée</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                        <a href="/profile/edit/exchange-trip/add"><button class="btn btn-default bg-orange pull-right">Ajouter un séjour académique à l'étranger</button></a>
                    </div>
                </div>

                <div class="row" th:if="${session.type == 'eleve'}" >
                    <div class=" col-lg-6 fond2 bloc_blanc">
                        <div class="row form-group" >
                            <div class="col-lg-6  text-blue">Activité(s) extra-scolaire(s)</div>
                        </div>

                        <div class="row form-group" >
                            <div class="bloc_dans_blanc">
                                <div th:each="activiteExtra,counter : ${listActiviteExtra}" class="row form-group">
                                    <label th:for="'activiteExtra' + ${activiteExtra.id}" class=" col-lg-5  entreeCO text-orange">Activité extra-scolaire <span th:text="${counter.index + 1}">Compteur</span></label>
                                    <div class=" col-lg-6">
                                        <div class="form-control text-black" th:text="${activiteExtra.nom}">Activité extra-scolaire</div>
                                    </div>
                                    <div class="col-lg-1">
                                        <a th:href="'/profile/edit/extra-activity/delete/' + ${activiteExtra.id}"><img th:src="@{/elements/icons/trash1.png}"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="/profile/edit/extra-activity/add"><button class="btn btn-default bg-orange pull-right">Ajouter une activité extra-scolaire</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>


<div th:if="${session.type == 'none'}">
    <header th:replace="incluable/header/headerconnecte :: header" />
    <nav th:replace="incluable/menu/menunonconnecte :: nav" />

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-default bg-grey margeboutonacc tailleboutonacce text-blue gras text-acc" ><h2>L'accès au profil n'est pas encore fonctionnel.</h2></button>
            </div>
        </div>
    </div>
</div>


<footer th:replace="incluable/footer :: footer" />


</body>
</html>