<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accueil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/header.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>

</head>
<body>

    <header th:replace="incluable/header/headernonconnecte :: header" />

    <nav th:replace="incluable/menu/menueleve :: nav" />

    <nav th:replace="incluable/barre_recherche :: nav" />


    <h1>Contenu</h1><h1>Contenu</h1><h1>Contenu</h1><h1>Contenu</h1>
    <p th:if="${session}" th:text="${session.id}"></p>


    <footer th:replace="incluable/footer :: footer" />

</body>
</html>