<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste_ancien_eleve</title>
     <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/jquery1.js}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/js/dropdown.js}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/js/bootstrap.js/bootstrap.min.js}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/header.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/> -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>

</head>
<body>
<header th:replace="incluable/header/headernonconnecte :: header" />

<nav th:replace="incluable/menu/menueleve :: nav" />

<nav th:replace="incluable/barre_recherche :: nav" />

<div class="container">
    <div class="row">
        <div class="col-lg-7  text-blue"> LISTE DES ANCIENS ELEVES DE VOTRE PARCOURS
        </div>
    </div>
    <form class="form-horizontal" action="TODO">
    <div class="row">


            <div class=" col-lg-12  bg-lightgrey bloc_gris">


                <div class="row form-group">
                    <div class="col-lg-2 text-orange text_promo"> Promo 2017 </div>
                    <div class="col-lg-2">Nombre total :</div>
                    <div class="col-lg-push-5 col-lg-3">
                        <input type="checkbox" name="Select_all" />  Selectionner toute la catégorie
                    </div>




                </div>
                <div class="row form-group">
                    <div class="col-lg-1 col-md-2 col-sm-2   fond2 bloc_blanc_eleve">
                        <div class="row">
                            <div class="pull-right">
                                <input type="checkbox" name="Selectionner" />
                            </div>
                        </div>
                        <div class="row change_margin_botom" align="center">

                            <img  th:src="@{/elements/icons/profilVide.png}" width="90" height="auto" />

                        </div>
                        <div class="row prenom change_margin_botom2" align="center">

                            PRENOM
                        </div>
                        <div class="row nom" align="center">
                            NOM
                        </div>
                    </div>


                    <div class="col-lg-1 col-md-2 col-sm-2   fond2 bloc_blanc_eleve">
                        <div class="row">
                            <div class="pull-right">
                                <input type="checkbox" name="Selectionner" />
                            </div>
                        </div>
                        <div class="row change_margin_botom" align="center">

                            <img  th:src="@{/elements/icons/profilVide.png}" width="90" height="auto" />

                        </div>
                        <div class="row prenom change_margin_botom2" align="center">

                            PRENOM
                        </div>
                        <div class="row nom" align="center">
                            NOM
                        </div>
                    </div>



                </div>

            </div>




    </div>
        <div class="row form-group">
            <input type="submit" name="mise_en_relation" value="Mettre en relation" class="btn btn-default bg-orange pull-right " />
            <input type="submit" name="envoi_message" value="Contacter" class="btn btn-default bg-orange pull-right " />
        </div>
    </form>

</div>






<footer th:replace="incluable/footer :: footer" />

</body>
</html>