<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/header.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>

</head>
<body>
<header th:replace="incluable/header/headernonconnecte :: header" />
<nav th:replace="incluable/menu/menunonconnecte :: nav" />

<div class="container">

    <div class="row">
        <div class="col-lg-12 bg-lightgrey fond">
            <div class="row form-group">
                <div class="col-lg-5 text-blue PROFIL"> Mentions Légales</div>
                <div class="col-lg-push-2 col-lg-8 fond2 bloc_blanc">
                <p align="justify">
                <font size="+1">
                Conformément à l'article 6 de la loi du 21 juin 2004,<br/>
                pour la confiance dans l'éconimie numérique nous vous informons que:<br/>
                Le site <font color="#00bfff"> http://localhost:8080/login</font> est édité par:<br/>
                    <br/>
                <font color="#FEA100" > <b>L'équipe LOTUS</b> </font> <br/>
                Elèves de l'université ISEP (Institut Supérieur d'électronique de Paris)<br/>
                Campus Notre-Dame-de-Lorette (NDL)<br/>
                10 rue de Vanves<br/>
                92130 Issy-les-Moulineaux<br/>
                    <br/>
                L'ISEP FORMATION CONTINUE, est une société à responsabilité limitée active depuis 26 ans,<br/>
                spécialisée dans le secteur d'activité de l'enseignement secondaire technique ou professeionnel.<br/>
                Téléphone: 01.49.54.52.61<br/>
                <font color="#FEA100" > <b>L'hébergement de ce site est assuré par XAMPP</b> </font>
                </font></p>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="incluable/footer :: footer" />

</body>
</html>