<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Messagerie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>

</head>
<body>

<div th:if="${session.type == 'professeur' || session.type == 'eleve'}">
    <header th:replace="incluable/header/headerconnecte :: header" />
    <nav th:replace="incluable/menu/menuconnecte :: nav" />
    <nav th:replace="incluable/barre_recherche :: nav" />

    <div class="container">
        <div class="row">
            <div class="col-lg-12 bg-lightgrey fond">

                <form method="post" action="/message">
                    <div class="row form-group">
                        <div class="col-lg-5 text-blue PROFIL"> MESSAGERIE
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-push-2 col-lg-8 fond2 bloc_blanc">

                            <div class="row form-group">
                                <div class="col-lg-3 text-orange">Destinataire(s)</div>
                                <div class="col-lg-9">
                                    <input type="email" name="email" id="email" multiple="multiple" placeholder="Email du destinataire ou des destinataires"  class=" form-control" />
                                </div>
                            </div>


                            <div class="row form-group">
                        <div class="col-lg-3 text-orange">Objet</div>
                            <div class="col-lg-9">
                                <input type="texte" name="objmessage" id="objmessage"  class=" form-control" required="" placeholder="Sujet du mail" />
                            </div>
                        </div>



                        <div class="row form-group">
                            <div class="col-lg-3 text-orange">Message</div>

                            <div class="col-lg-9">

                             <textarea name="message" id="message" class=" form-control " required="" placeholder="Contenu de votre message"></textarea>

                            </div>
                        </div>



                        <div class="row form-group">
                    <input type="submit" class="btn btn-default pull-right bg-orange"  value="Envoyer" />
                        </div>

                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:if="${session.type == 'none'}">
    <header th:replace="incluable/header/headerconnecte :: header" />
    <nav th:replace="incluable/menu/menunonconnecte :: nav" />

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">


            </div>
        </div>
    </div>
</div>


<footer th:replace="incluable/footer :: footer" />

</body>
</html>