<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Page Accueil Professeur </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/header.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>


</head>
<body>
<header th:replace="incluable/header/headerconnecte :: header" />

<nav th:replace="incluable/menu/menuprof :: nav" />

<div class="container-fluid">
   <div class="row">
        <div class="col-lg-4">
            <a href="TODO"><button  class="btn btn-default bg-grey text-blue margeboutonacc gras tailleboutonaccp" > Accès a Votre Profil <img th:src="@{/elements/icons/avatar-small-orange.png}"/> </button></a>
        </div>
        <div class="col-lg-4">
            <a href=".profil_professeur.html"><button class="btn btn-default bg-grey text-blue margeboutonacc gras tailleboutonaccp" > Accès a Votre Messagerie </button></a>
        </div>
        <div class="col-lg-4">
            <a href=".profil_professeur.html"><button class="btn btn-default bg-grey text-blue margeboutonacc gras taillepetitboutonaccp" > Elèves de Votre Parcours </button></a>
            <a href=".profil_professeur.html"><button class="btn btn-default bg-grey text-blue margeboutonacc gras taillepetitboutonaccp" > Anciens élèves de Votre Parcours </button></a>
        </div>
    </div>
</div>

<footer th:replace="incluable/footer :: footer" />

</body>
</html>