<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Page Accueil Professeur </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/header.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>


</head>
<body>
<header th:replace="incluable/header/headerconnecte :: header" />

<nav th:replace="incluable/menu/menuprof :: nav" />


<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a href="TODO"><button class="btn btn-default bg-grey text-blue" style=" width: 350px; height: 200px "> Accès a Votre Profil </button></a>
        </div>
        <div class="col-lg-4">
            <a href=".profil_professeur.html"><button class="btn btn-default bg-grey text-blue" style=" width: 350px; height: 200px "> Accès a Votre Messagerie </button></a>
        </div>
        <div class="col-lg-4">
            <a href=".profil_professeur.html"><button class="btn btn-default bg-grey text-blue" style=" width: 350px; height: 100px "> Elèves de Votre Parcours </button></a>
            <a href=".profil_professeur.html"><button class="btn btn-default bg-grey text-blue" style=" width: 350px; height: 100px "> Anciens élèves de Votre Parcours </button></a>
        </div>
    </div>
    <div class="row">
    </div>
</div>

<footer th:replace="incluable/footer :: footer" />

</body>
</html>