<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Page Accueil Eleve </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/header.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>


</head>
<body>
<header th:replace="incluable/header/headerconnecte :: header" />

<nav th:replace="incluable/menu/menueleve :: nav" />
<nav th:replace="incluable/barre_recherche :: nav" />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <a href="profil_professeur"><button  class="btn btn-default bg-grey margeboutonacc tailleboutonacce text-blue gras text-acc" > Accès a Votre Profil <br/><img th:src="@{/elements/icons/avatar-orange.png}"/> </button></a>
        </div>
        <div class="col-lg-6">
            <a href="TODO"><button class="btn btn-default bg-grey margeboutonacc tailleboutonacce text-blue gras text-acc" > Accès a Votre Messagerie  <br/><img th:src="@{/elements/icons/envelope-orange.png}"/></button></a>
        </div>
    </div>
</div>

<footer th:replace="incluable/footer :: footer" />

</body>
</html>