<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/header.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>
</head>
<body>

<div th:if="${session.type == 'professeur' || session.type == 'eleve'}">
    <header th:replace="incluable/header/headerconnecte :: header" />
    <nav th:replace="incluable/menu/menuconnecte :: nav" />
    <nav th:replace="incluable/barre_recherche :: nav" />

    <div th:if="${session.type == 'professeur'}">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 bg-lightgrey fond">
                    <div class="row">
                        <p class="col-sm-1 col-sm-push-0.5 text-blue PROFIL">Profil</p>
                        <p class="col-sm-3 pull-right text-blue PROFIL">
                            <span th:text="${utilisateur.prenom}">Prénom</span>
                            <span th:text="${utilisateur.nom}">Nom</span>
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-sm-10 col-sm-push-1 fond2 ">
                            <div class="text-cyan"> Informations personelles</div>
                            <br/>
                            <div class="row form-group">
                                <div class="col-sm-2 col-sm-push-1 photoprofil" align="center">
                                    <img th:src="@{/elements/icons/profilVide.png}" />
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-lg-push-3 col-md-push-3 col-sm-push-2  text-orange form-group">
                                    <ul>
                                        <dl>Identifiant</dl>
                                        <dl>Nom</dl>
                                        <dl>Prénom</dl>
                                        <dl>Email</dl>
                                        <dl>Parcours</dl>
                                        <dl>Cours enseignés</dl>
                                    </ul>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-lg-push-2 col-md-push-2 col-sm-push-2  form-group">
                                    <ul>
                                        <dl th:text="${utilisateur.identifiant}">Identifiant</dl>
                                        <dl th:text="${utilisateur.nom}">Nom</dl>
                                        <dl th:text="${utilisateur.prenom}">Prénom</dl>
                                        <dl th:text="${utilisateur.email}">Email</dl>
                                        <dl>
                                            <ul th:each="parcours : ${listParcours}">
                                                <li th:text="${parcours.nom}">Parcours</li>
                                            </ul>
                                        </dl>
                                        <dl>
                                            <ul th:each="cours : ${listCours}">
                                                <li th:text="${cours.nom}">Cours</li>
                                            </ul>
                                        </dl>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <a href="/profile/edit"><button class="btn btn-default pull-right bg-orange" >Modifier votre profil</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${session.type == 'eleve'}">

    </div>

</div>


<footer th:replace="incluable/footer :: footer" />

</body>
</html>