<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/header.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>

</head>
<body>
<header th:replace="incluable/header/headernonconnecte :: header" />

<nav th:replace="incluable/menu/menunonconnecte :: nav" />

<p>Prénom : <span th:text="${prenom}">prénom</span></p>
<p>Nom : <span th:text="${nom}">nom</span></p>
<p>Email : <soan th:text="${email}">email</soan></p>
<p>Identifiant : <span th:text="${identifiant}">identifiant</span></p>
<p>Mot de passe : <span th:text="${mdp}">mdp</span></p>
<p>Confirmation du mot de passe : <span th:text="${confMdp}">confMdp</span></p>

<footer th:replace="incluable/footer :: footer" />

</body>
</html>