<!-- Menu élève -->

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>
    <link rel="stylesheet" th:href="@{/style/contenu.css}"/>
</head>
<body>
<nav>
    <div class="container-fluid bg-cyan cadrebleu">
        <div class="container col-sm-6"> <!-- col-sm-ofsset-3-->
            <div class="row">
                <h1 align="center">LOTUS</h1>
            </div>
            <div class="row">
                <div class="col-sm-6" align="center">
                    <h4><a href="profil-eleve" class="link-blue text-bold">PROFIL</a></h4>
                </div>
                <div class="col-sm-6" align="center">
                    <h4><a href="TODO" class="link-blue text-bold">MESSAGERIE</a></h4>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>