<!-- Header utilisateur non connecté -->

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header utilisateur non connecté</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style/colors.css}"/>

</head>
<body>

<header>
    <div class="container-fluid bg-grey">
        <div class="row">
            <div align="center">
                <img th:src="@{/elements/logos/isep.png}" />
            </div>
        </div>
    </div>
</header>

</body>
</html>